/* Leaflet */
.leaflet-container {
  height: 200px;
  width: 100%;
  margin: 0 auto;
}

/* emulate Thumbnail look */
.pseudoThumbnail {
  background-image: none;
  background-color: #fff;
  opacity: 1;
  padding: 4px;
}
