/* Navbar */
.navbar-brand {
  padding-left: 15px;
  padding-top: 0px;
}

/* Transparent Navbar */
/*.navbar-default {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}*/

/*.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .hover > a {
  font-weight: bold;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}*/

li.nav-item > a.active,
li.nav-item > a:focus,
li.nav-item > a:hover {
  border-top: solid 7px #d14210;
  margin-top: -7px;
}

/* GCIO Masthead: logos; */
.masthead {
  max-height: 120px;
  /*max-width:100%;*/
}

/* GCIO Logo */
.logo {
  height: 120px;
  float: left !important;
}
