/* Navbar */
.navbar-brand {
  padding-left: 15px;
  padding-top: 0px;
}

/* Transparent Navbar */
/*.navbar-default {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}*/

/* Logo */
.logo {
  height: 50px;
  float: left !important;
}

/*.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .hover > a {
  font-weight: bold;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}*/
