@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://rsms.me/interface/interface.css');

/* Fullscreen bg image */
html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  background-image: url("./img/green_hatchling.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: Interface, sans-serif;
}

#root {
  height: 100%;
  min-height: 100%;
}

.content {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: -70px;
}

/* A Well with min height to v-fill a page evenly */
.jumboWell {
  min-height: 300px;
}

/* Content spacing */
.pushDown {
  margin-top: 20%;
}

/* Transparent Well */
.well {
  background-color: #fff;
  opacity: 0.85;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
  border: none;
}
