@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://rsms.me/interface/interface.css");

/* Fullscreen bg image */
html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  background-image: url("./img/green_hatchling.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: Interface, sans-serif;
  font-size: 16px;
}

#root {
  height: 100%;
  min-height: 100%;
}

.container {
  padding-top: 80px;
  padding-bottom: 70px;
  margin-bottom: -70px;
}

.app {
  border-bottom: 5px solid #2d2f32;
}

.videoWell {
  min-height: 500px;
}

/* Content spacing */
.pushDown {
  margin-top: 20%;
}

.mb10 {
  margin-bottom: 10px;
}

.gcio-grey {
  background-color: #2d2f32;
}

.gcio-ochre {
  background-color: #d14210;
}
