.blackbg {
  background-color: black;
}

.greybg {
  background-color: grey;
}

.simple-cloud .tag-cloud-tag {
  cursor: pointer;
}

span.tag-cloud-tag:hover {
  text-decoration: underline;
}

.panel-body,
.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
  border-style: none;
}

.img-responsive {
  width: 100%;
  max-height: 100%;
}
